.DS_Store
.gitignore
.git/
.ipynb_checkpoints/
venv
jpg/
major_pieces/
rotated/
samples/
template_characters_original_resolution/
Z_*
testcrop/
resized/
deskewd/

samples*/
Checkpoints/
Version6Results/
BatchProcess/
